<div class="pt-5 mt-5">
    <nav class="navbar navbar-dark bg-dark fixed-bottom p-0">
        <ul class="navbar-nav pr-0 mt-2">
            <div class="row m-0 p-0 min-vw-100 container text-center h-100 d-flex justify-content-center align-items-center">
                <li routerLinkActive="active" class="nav-item col-1 p-0 ml-2 ml-sm-3 mr-sm-2">
                    <a class="nav-link fa-2x" routerLink="enrolment">
                        <i class="fas fa-address-book"></i>
                    </a>    
                </li>
    
                <li routerLinkActive="active" class="nav-item col-3 pr-3 pl-4 pl-sm-5">
                    <a class="nav-link fa-2x" routerLink="list-enrolment">
                        <i class="fas fa-list-alt"></i>
                    </a>
                </li>
    
                <li routerLinkActive="active" class="nav-item col-2 ml-md-3 pl-3 pr-3 pl-sm-4">
                    <a class="nav-link fa-2x" routerLink="add-customer">
                        <i class="fas fa-user-edit"></i>
                    </a>
                </li>
    
                <li routerLinkActive="active" class="nav-item col-3 ml-md-4 pl-4 pl-sm-4 pr-sm-5">
                    <a class="nav-link fa-2x" routerLink="list-customer">
                        <i class="fas fa-users"></i>
                    </a>
                </li>
    
                <li routerLinkActive="active" class="nav-item col-2 ml-0 ml-sm-1 pr-0 pl-0 pl-sm-2 pr-sm-0">
                    <a class="nav-link fa-2x" routerLink="prices">
                        <i class="fas fa-hand-holding-usd"></i>
                    </a>
                </li>
            </div>
                
        </ul>
    </nav>
</div>