<div class="container mt-5 mb-3 mb-sm-0">
    <div class="row container min d-flex justify-content-center align-items-center m-0 p-0">
        <div class="col-12 pl-0 pr-0">
            <div class="jumbotron p-5">
                <h1 class="text-center">Bienvenido a MecGym, de <span>mecanizados</span>!</h1>
                <p class="lead my-4 text-justify"> 
                    <span>mecanizados</span> es un equipo de desarroladores fullstack. Trabajamos en equipo; para brindarte lo mejor y llevar tu empresa a otro nivel.
                </p>
                <hr class="my-4 text-justify">
                <p>No espere más. Contactáctenos!</p>
                <hr class="my-4">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <a class="btn btn-success btn-lg mt-4 mb-0 btn-block" href="https://api.whatsapp.com/send?phone=542616934658&text=Hola!%20Quiero%20contratar%20sus%20servicios!" role="button">
                            WhatsApp
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6">
                        <a class="btn btn-danger btn-lg mt-4 mb-0 btn-block" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=aldo.castillo.13@gmail.com&compose=Consulta&body=Hola!%20Quiero%20contratar%20sus%20servicios!" role="button">
                            Gmail
                            <i class="far fa-envelope"></i>
                        </a>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>

