<div class="container mt-5">
    <div class="row d-flex">
        <h4 class="mb-0 align-self-center col-md-4">Listado de Clientes</h4>
        <form class="align-self-center col-md-3 mt-2 mt-sm-0">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-0">
                <input *ngIf="!name || name== ' '" (input)="browseCustomer($event.target.value)" type="text" class="form-control" placeholder="Busque un cliente">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <img class="img-browse" src="assets/browse-user.png" alt="browse-user">
                    </div>
                </div>
            </div>
        </form>
        <pagination-controls class="my-pagination mt-2 mt-sm-0 col-md-5 align-self-center pr-0" (pageChange)="pages = $event"></pagination-controls>
    </div>
    
    <br>

    <div class="container" style="height: 300px;" *ngIf="loading">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
    </div>
  
    <div class="row mt-3 mt-sm-5" *ngIf="!loading">
        <div class="col-md-4" *ngFor="let customer of customers | paginate: { itemsPerPage: 3, currentPage: pages }">
            <div class="card mb-5" *ngIf="customer.seeable">
                <img class="card-img-top img-user mt-4" [src]="customer.imgUrl" alt="icon-user">
                <div class="card-body">
                    <h6 class="card-title text-center text-secondary small">{{ customer.id }}</h6>
                    <h5 class="card-title text-center">{{ customer.name }} {{ customer.surname }}</h5>
                    <hr>
                    <h5 class="card-title text-center text-success mt-4">{{ customer.cellPhoneNumer }}</h5>
                    <h5 class="card-title text-center text-success">{{ customer.email }}</h5>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <a [routerLink]="['/add-customer/', customer.id]" class="card-link text-warning">Editar</a>
                        </div>
                        <div class="col-sm-6 text-center">
                            <a (click)="deleteCustomer(customer.id)" class="card-link text-danger" role="button">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
